#white-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 9999;
}

#dlgbox{
    /*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 480px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #98AFC7;
}

#dlg-header{
    background-color: #E5E4E2;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
}

#dlg-body{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

#dlg-footer {
    background-color: #f2f2f2;
    text-align: right;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#dlg-footer button{
background-color: #C0C0C0;
color: black;
padding: 5px;
border: 0px;
}


table, td, th { border: 1px solid white;}
table {border-collapse: collapse; width: 100%; height:900px;}
th {text-align: left;}
.tg  {border-collapse:collapse;border-spacing:0; border: 1px solid white;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-i0og{ height: 10px; color:#000000; text-align: center;}
